.main_brand{
    background-color: #f2f2f2;
}

.main_brand .container .view_all {
    height: 57px !important;
    width: 250px !important;
    border-radius: 30px;
    margin-top: 40px !important;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: auto;
    background-color: #5b0ffd; 
  }
  .main_brand .container .view_all:hover{
    background-color: black;
  }
  .main_brand .container .cardbd{
    height: 100px !important;
    width: auto ;
  }
  