/* section{
    background-color: blue;
} */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Prompt", sans-serif;
  }
  
  a {
    text-decoration: none !important;
    
  }

  .hkj_container{
    width: unset !important;
  }
.hkj{
    background-color: #f2f2f2 !important;
}
.img .text1 {
    position: absolute;
    top: 100px;
    bottom: 0;
    left: 60px;

  }
.img{
    position: relative;
}
.img .text1{
    position: absolute !important;
    top: 0;
    bottom: 300px !important;
    right: 0;
    left: 0;
    color: rgb(255, 255, 255);
    font-size: 18px;
}
.img .text{
    color: blue !important;
}
.btk{
    width: 170px !important;
    height: 50px;
    color: black !important;
    border: 1px solid white !important;
    /* border: none !important; */
    background-color:white !important;
     border-radius: 70px !important;
     margin-top: 20px;
     font-size: 17px;
     font-weight: 100 !important;
}
.btk:hover{
    background-color:#c4040463 !important;
    /* border: unset !important; */
}
.btk2{
    color: black !important;
    border: 1px solid white !important;
    /* border: none !important; */
    background-color:white !important;
     border-radius: 70px !important;
     margin-top: 20px;
     font-size: 17px;
     font-weight: 100 !important;

}
.btk2:hover{
    background-color: #3c158f90 !important;
    
    /* border: unset !important; */
}

@media (max-width: 576px){
    .container {
        margin-left: 20px !important;
        margin-right: 20px !important;
      }
     .hkj .hkj_container{
        padding-top: 16px !important;
        padding-bottom: 16px !important;
      }
  .hkj .imge1 .text1{
    position: absolute !important;
    top: 60px !important;
    bottom: 0 !important;
    left: 60px !important;
   }
  .hkj .imge1 .text1 h1{
    width: 50% !important;
    font-weight: 700 !important;
    font-size: 54px !important;
   }
  .hkj .imge1 .text1 .btk{
    height: 15% !important;
    width: 30% !important;
    /* background-color: black !important; */
   }

   .hkj .img .text1{
    position: absolute;
    top: 30px !important;
    bottom: 0 !important;
    left: 60px !important;
   }
   .hkj  .img .text1 .btk2{
    height: 15% !important;
    width: 30% !important;
   }
   .hkj .img .text1 h1{
    width: 40% !important;
    font-weight: 700 !important;
    font-size: 40px !important;
   }
}