h3{
    color: rgb(26, 255, 0);
}
/* div{background-color: aquamarine;} */
button{
    background-color: rgb(7, 7, 12);
    color: rgb(210, 14, 14);
    padding: 10px;
    width: fit-content;
    
    
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}