* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Prompt', sans-serif;
}

a {
    text-decoration: none !important;
}
.lower_Header .nav-2 li a{
    color: black !important;
    font-size: 18px !important;
    font-weight: 500 !important;
}
.tech{
    color: rgb(8, 8, 8) !important;
}

ul {
    list-style: none;
    margin: 0 !important;
    padding: 0 !important;
}

.container {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.row {
    margin-right: 0;
    margin-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-fluid {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.Topheader {
    background-color: hsl(0, 0%, 4%);
    position: fixed;
    width: 100%;
    /* position: fixed;
    left: 0;
    right: 0;
    top: 0; */
    z-index: 11;
    /* bottom: 0;   */
    /* height: 100px; */
}

.Topheader ul li {
    padding: 2px;
}

.Topheader ul li a {
    color: white;
}

.log h1 {
    font-weight: 700 !important;
    color: black !important;
}

.lower_Header {
    background-color: #f2f2f2;
}

.search-container {
    display: flex;
    width: 400px;
    margin-left: 100px !important;
}

/* Style for the search input */
.search-input {
    flex: 1;
    padding: 8px 10px; /* Adjust padding as needed */
    box-sizing: border-box;
    border: 0px solid #ccc;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    font-size: 16px;
    background-color: #f2f2f2;
}

/* Style for the search button */
.search-button {
    padding: 8px 15px; /* Adjust padding as needed */
    box-sizing: border-box;
    border: 0px solid #ccc;
    width: 80px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
    background-color: #5b0ffd; /* Adjust background color as needed */
}

.search-icon {
    width: 30px; /* Adjust icon size as needed */
    height: 20px;
    color: #ccc;
    vertical-align: middle

}
header{
    padding-top: 60px;
}
/* ================= media  query ====================== */

 /* @media (max-width:576px) {
    .contct {
        display: none !important;
    }

    .menubar {
        width: 40%;
    }

   
} 

@media (min-width:576px) {
    .contct {
        display: none !important;
    }
    
    .menubar {
        width: 40%;
    }
}

@media (min-width:992px) {
    .contct {
        display: inline-block !important;
    }
    
    .menubar {
        width: 100%;
    }
    
    .navbar-expand-lg .navbar-nav {
        justify-content: center !important;
        margin: auto;
    }
} */



