* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Prompt", sans-serif;
}

a {
  text-decoration: none !important;
  
}
.container{
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.lower_Header .nav-2 li a {
  color: black !important;
  font-size: 18px !important;
  font-weight: 500 !important;
}
.Topheader .my_logo{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.Topheader .top_nav{
  display: block !important;
}
.lower_Header .sml_nav ul{
  display: none !important;
}
.tech {
  color: rgb(8, 8, 8) !important;
}

ul {
  list-style: none;
  margin: 0 !important;
  padding: 0 !important;
}

.main-nav {
  position: relative;
}

.container {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.row {
  margin-right: 0;
  margin-left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-fluid {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.Topheader {
  background-color: hsl(0, 0%, 4%);
  position: fixed;
  width: 100%;
  z-index: 11;
}

.Topheader ul li {
  padding: 2px;
}

.Topheader ul li a {
  color: white;
}

.log h1 {
  font-weight: 700 !important;
  color: black !important;
}

.lower_Header {
  background-color: #f2f2f2;
  display: block !important;
  /* overflow: hidden; */
  /* max-height: 0; */
  /* transition: max-height 0.5s ease-out, padding 0.5s ease-out; */
}

.lower_Header.show {
  display: block !important;
  /* max-height: 300px; 
  transition: max-height 0.5s ease-in, padding 0.5s ease-in; */
  /* padding-top: 1rem;
  padding-bottom: 1rem; */
}
.lower_Header .low_head_text{
  font-size: 18px;
  font-weight: 600;
}
.search-container {
  position: absolute !important;
  top: 81px !important;
  right: 0 !important;
  left: 265px !important;
  display: flex;
  width: 400px;
  margin-left: 100px !important;
}

.search-input {
  flex: 1;
  padding: 8px 10px;
  box-sizing: border-box;
  border: 0px solid #ccc;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  font-size: 16px;
  background-color: #f2f2f2;
}

.search-button {
  padding: 8px 15px;
  box-sizing: border-box;
  border: 0px solid #ccc;
  width: 80px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
  background-color: #5b0ffd;
}

.search-icon {
  width: 30px;
  height: 20px;
  color: #ccc;
  vertical-align: middle;
}

header {
  padding-top: 60px;
}

.btn span {
  display: none !important;
}

.lower_Header .close-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: white;
}




@media (max-width: 576px) {
  .container {
    margin-left: 20px !important;
    margin-right: 20px !important;
  }

.low_head_ul ul li a{
  color: black !important;
  font-size: 16px !important;
  border-bottom:1px solid black !important ;
  cursor: pointer !important;
 }

  .container_header {
    height: 135px;
  }
  .Topheader .top_nav{
    display: none !important;
    
  }
  .lower_Header .sml_nav ul{
    display: block !important;
  }

  .btn span {
    display: block !important;
  }

  .main-nav {
    flex-wrap: wrap !important;
    align-items: normal !important;
  }

  .col-4 .my_icon {
    display: none !important;
  }

  .col-4 .icon-2 {
    display: none !important;
  }

  .col-8 .main-nav .log h1 {
    margin-top: -26px !important;
    margin-left: 37px !important;
  }

  .btn span {
    margin-bottom: 30px !important;
    margin-right: 28px !important;
  }

  .search-container {
    margin-left: 57px !important;
    margin-top: 10px !important;
    width: 80% !important;
    position: absolute !important;
    top: 130px !important;
    right: 0px !important;
    left: 0px !important;
  }

  .Topheader .my_logo{
    justify-content: start !important;
  }
  .lower_Header .my_icon {
    display: flex !important;
    justify-content: start !important;
    padding-left: 22px !important;
     
  }

  .lower_Header .my_icon h5 {
  
     font-size: 25px !important;
     color: black;
  }

  .lower_Header .my_icon .Heart {
  
    
    color: black;
 }
  .lower_Header .low_head_ul ul {
    display: flex !important;
    justify-content: center !important;
    justify-content: space-around !important;
    margin-top: 40px !important;
    
  }
  
  .lower_Header { 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 12;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    color: rgb(254, 253, 253);
    overflow: auto;
    max-height: 0;
    transition: max-height 0.5s ease-out, padding 0.5s ease-out;
    
    /* padding: 45px !important; */
  }

  .lower_Header.show {
    max-height: 100vh;
    transition: max-height 0.5s ease-in, padding 0.5s ease-in;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .lower_Header .nav-2 {

    flex-direction: column !important;
    gap: 2px !important;
    align-items: center !important;
    padding-top: 45px !important;
    
    
  }
  .lower_Header .nav-2 p{
padding-top: 0 !important;
   color: black !important;
   padding: 4px !important;
   border-bottom:2px solid black !important ;

    
  }
}



/* @media (min-width:992px) {
    .contct {
        display: inline-block !important;
    }
    
    .menubar {
        width: 100%;
    }
    
    .navbar-expand-lg .navbar-nav {
        justify-content: center !important;
        margin: auto;
    }
}  */
